@model IEnumerable<Quiz.Services.Data.Models.StatsUserTestViewModel>

@{ this.ViewData["Title"] = "My Statistics"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Statistics</li>
    </ol>
</nav>

<div class="text-center">
    <h1>@Model.Sum(x => x.Result) Points</h1>
</div>

<table id="myTable" class="table table-sm table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Date On</th>
            <th>Quiz Name</th>
            <th>Answers/Questions</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in this.Model)
        {
            <tr>
                <td>@test.CreatedOn</td>
                <td>@test.Title</td>
                <td>@test.Result / @test.Questions</td>
                <td>@test.Result points</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}