@model Quiz.Web.ViewModels.Tests.TestViewModel
@{ this.ViewData["Question"] = $"{@Model.Title} Result"; }

<link href="~/css/question.css" rel="stylesheet" asp-append-version="true" />

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@Model.Title - Result</h4>
    <p>Green mean that your answer of the question is true, Red mean that answer is false.</p>
    <hr>
    <p class="mb-0">This is all of your answers of the current questions</p>
</div>
<br />

<form asp-controller="Tests" asp-action="Submit" asp-route-testId="@this.Model.Id" method="post">
    @foreach (var question in this.Model.Questions)
    {
        <h4 class="fw-bold">@question.Title</h4>

        foreach (var answer in question.Answers)
        {
            <div class="col-12">
                <div class="course @(answer.IsCorrect ? "bg-success" : "bg-danger")">
                    <input type="radio" name="q_@question.Id" value="@answer.Id" id="a_@answer.Id" />
                    <label for="a_@answer.Id" class="box first">
                        <span class="circle"></span>
                        <span class="subject">@answer.Title</span>
                    </label>
                </div>
            </div>
            <br />
            <hr />
        }
    }
</form>
